@font-face {
    font-family: 'Georgia Pro';
    src: url(fonts/georgia-pro-cond/GeorgiaPro-Black.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Georgia Pro';
    src: url(fonts/georgia-pro-cond/GeorgiaPro-CondSemiBoldItalic.ttf) format('truetype');
    font-weight: 'cond semibold italic';
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;
}

#cart
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 9vw;
    height: 16vh;
    z-index: 5;
    cursor: pointer;
}

#overlay_cart
{
   display: none;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.95);
   width: 40vw;
   height: 70vh;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 100;
   font-family: "Georgia Pro", sans-serif;
   padding: 1vw;
   color:white;
}

.overlay
{
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: 4;
}

.productlist 
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.productlist p
{
    font-size: 0.9vw;
    flex: 1 1 auto;
    max-width: 13vw;
}


.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0,);
    color: white;
    z-index: 2;
}

.showcase h1{
    font-family: 'Georgia Pro', sans-serif;
    font-weight: 'cond semibold italic';
    text-shadow: 2px 2px black;
}

.MenuBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 1;
    z-index: -5;
}

.backgroundhue
{
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
}

.standardBackground
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 1;
    z-index: -1;
}

.chefbackground
{
    position: absolute;
    object-fit: contain;
    top: -13%;
    right: -10%;
    height: auto;
    width: auto;
    max-width: 100%;
    opacity: 1;
    z-index: 0;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 1;
    z-index: -2;
}

.orderscreen
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: black;
    color: white;
    z-index: 2; 
}

.orderscreen video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 1;
    z-index: -2;
}

.logo
{
    width: 600;
    height: 375;
}

.social
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
}
.social img
{
    width: 50;
    height: 50;
    margin: 5;
    padding: 5;
    cursor: pointer;
}

.Menu
{
    position: absolute;
    top: 0;
    right: 25;
    display: flex;
    justify-content: space-between;
    align-items:start;
    flex-direction: column;
    z-index: -5;
    overflow: visible;
}

.Menu ul
{
    width: 55vw;
    height: 100vh;
}

.Menu a 
{
    font-family: 'Georgia Pro', sans-serif;
    font-size: 5vw;
    color: white;
}

.foodmenu
{
    position: absolute;
    width: 20vw;
    height: 100%;
    left: 45%;
    top: 20%;
    rotate: 15deg;
    overflow: auto;
    z-index: 5;
    display: none;
}

.backarrow
{
    position: fixed;
    left: 20px;
    bottom: 15px;
    z-index: 5;
    
}

.foodtype
{
    position: absolute;
    left: -25%;
    top: -20%;
    width: 60vw;
    height: 200vh;
    rotate: 15deg;
    z-index: 5;
    flex-direction: column;
    display: flex;
    background-color: rgba(241, 32, 73, 1);
    opacity: 0.9;
}

.foodtype ul
{
    position: absolute;
    right: 0;
    top: 20vh;
    padding: 15px;
    opacity: 1;
    font-family: "Georgia Pro", sans-serif;
    font-size: 5vw;
    cursor: pointer;
}

#type1
{
    rotate: -15deg;
    padding-left: 10vw;
}

#type2
{
    rotate: -5deg;
    padding-top: 10vh;
    padding-right: 5vw;
}

#type3
{
    rotate: -10deg;
    padding-top: 10vh;
    padding-left:8vw
}

#type4
{
    rotate: -5deg;
    padding-top: 10vh;
    padding-left: 10vw;
}

.line-1
{
    position: absolute;
    top: 5%;
    height: 1px;
    width: 110vw;
    background-color: white;
    z-index: 1;
    rotate: 15deg;
}
 
.line-2
{
    position: absolute;
    top: 50%;
    left: 35%;
    height: 1px;
    width: 110vw;
    background-color: white;
    z-index: 1;
    rotate: 105deg;
}

.textbackground
{
    position: absolute;
    top: 60%;
    right: 4%;
    color: rgb(255, 255, 255);
    z-index: 0;
    rotate: 285deg;
    font-size: 6vw;
}

.numberbackground
{
    position: absolute;
    top: -3%;
    right: -2.5%;
    color: rgb(255, 255, 255);
    z-index: 0;
    rotate: 270deg;
    font-size: 15vw;  
}

.echo
{
    position: absolute;
    width: 20vw;
    height: 100%;
    left: 45%;
    top: 20%;
    rotate: 15deg;
    overflow: auto;
    z-index: 5;
    color: white;
    font-family: "Georgia Pro", sans-serif;
    font-size: 2vw;
}

#Reserveer
{
    position: absolute;
    top: 7vh;
    left: 1vw;
    rotate: 5deg;
    overflow: visible;
}

#Reserveer a
{
    position: absolute;
    text-decoration: none;
}

#Purple
{
    position: absolute;
    left: -10vw;
    top: -2vh;
    z-index: -1;
    display: none;
}

#Art1
{
    position: absolute;
    height: auto;
    width: 30vw;
    left: -40vw;
    top: 35vh;
    rotate: 0deg;
    z-index: -1;
    display: none;
}

#Bestellen
{
    position: absolute;
    top: 27vh;
    left: 3vw;
    rotate: -10deg;
}

#Bestellen a
{
   text-decoration: none;
}

#Red
{
    position: absolute;
    left: -5vw;
    top: 9vh;
    z-index: -1;
    display: none;
}

#Art2
{
    position: absolute;
    height: auto;
    width: 50vw;
    left: -40vw;
    top: 20vh;
    rotate: 0deg;
    z-index: -1;
    display: none;
}


#Overons
{
    position: absolute;
    top: 45vh;
    left: 6vw;
    rotate: -25deg;
}

#Overons a
{
   text-decoration: none;
}

#Yellow
{
    position: absolute;
    left: -5vw;
    top: 20vh;
    rotate: 0deg;
    z-index: -1;
    display: none;
}

#Art3
{
    position: absolute;
    height: auto;
    width: 25vw;
    left: -44vw;
    top: 22vh;
    rotate: 0deg;
    z-index: -1;
    display: none;
}

#Contact
{
    position: absolute;
    top: 60vh;
    left: 13vw;
    rotate: -40deg;
}

#Contact a
{
   text-decoration: none;
}

#Green
{
    position: absolute;
    left: 0vw;
    top: 25vh;
    z-index: -1;
    display: none;
}

#Art4
{
    position: absolute;
    height: auto;
    width: 45vw;
    left: -44vw;
    top: 44vh;
    rotate: 0deg;
    z-index: -1;
    display: none;
}

#Events
{
    position: absolute;
    top: 70vh;
    left: 21vw;
    rotate: -55deg;
}

#Events a
{
   text-decoration: none;
}

#Blue
{
    position: absolute;
    left: 10vw;
    top: 30vh;
    rotate: 0deg;
    z-index: -1;
    display: none;
}

#Art5
{
    position: absolute;
    height: auto;
    width: 60vw;
    left: -45vw;
    top: 67vh;
    rotate: 0deg;
    z-index: -1;
    display: none;
}