@font-face {
    font-family: 'Georgia Pro';
    src: url(fonts/georgia-pro-cond/GeorgiaPro-Black.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Georgia Pro';
    src: url(fonts/georgia-pro-cond/GeorgiaPro-CondSemiBoldItalic.ttf) format('truetype');
    font-weight: 'cond semibold italic';
}

*{
margin: 0;
padding: 0;
list-style: none;
box-sizing: border-box;
overflow: hidden;
}

.cart
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 5;
}

.overlay
{
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: 4;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    z-index: 2;
}

.showcase h1{
    font-family: 'Georgia Pro', sans-serif;
    font-weight: 'cond semibold italic';
    text-shadow: 2px 2px black;
}

.MenuBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -5;
}

.standardBackground
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: 0;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -2;
}

.logo
{
    width: 600;
    height: 375;
}

.social
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
}
.social img
{
    width: 50;
    height: 50;
    margin: 5;
    padding: 5;
    cursor: pointer;
}

.Menu
{
    position: absolute;
    top: 0;
    right: 25;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items:start;
    flex-direction: column;
    z-index: -5;
}

.Menu a 
{
    font-size: 80px;
    color: white;
}

.foodmenu
{
    position: fixed;
    width: 55%;
    height: 100%;
    rotate: 15deg;
    left: 34%;
    top: 18%;
    overflow: auto;
    z-index: 5;
}

.backarrow
{
    position: fixed;
    left: 20px;
    bottom: 15px;
    
}

.foodType
{
    position: absolute;
    left: -1px;
    top: 15px;
    width: 50%;
    height: 100%;
    rotate: 15deg;
    z-index: 5;
    font-family: "Georgia Pro", sans-serif;
    font-size: 50;
    flex-direction: column;
    display: flex;
    cursor: pointer;
    background-color: rgba(241, 32, 73, 1);
}

.foodtype ul
{
    right: 0px;
    top: 0px;
}
